# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.*

# Plasmo / Build
.plasmo/
build/
dist/
extension-build/
.cache/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other
coverage/
.vercel
